.flex{
    display: flex;
    padding: 20px;
justify-content: space-between;

}
.box{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bold;
}